:root {
  --mobile: 750px;
  --tablet: 768px;
  --laptop: 992px;
  --desktop: 1200px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: rgb(4, 170, 109);
}

.card-extra {
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-extra img {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  font-size: 1.4em;
  background-color: #f3f9ff;
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: 4vw;
  margin: 30px 0 30px 0;
  color: rgb(4, 170, 109);
}

.container-fluid {
  position: relative;
  height: 100vh;
}

.logout-official {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.5rem 5rem 0 0;
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.logout-official:hover {
  cursor: pointer;
}

.parent-of-section {
  display: flex;

  height: 100%;
}

.section {
  /* outline: 1px dashed #b6abab; */
}

.right-section {
  width: 70%;
  height: 900px;
  margin-left: 4%;
}

.container-cards {
  height: 86%;
  width: 95%;
  border-radius: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: azure;
}

.cards {
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  background-color: rgb(248, 247, 247);
  /* margin: 5px; */

  width: 200px;
  height: 200px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  transition: 0.4s;
}

.on-upload {
  border: 1px dashed #d3d3d3;
}

#uploadimg {
  width: 40%;
  height: 40%;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.card:hover {
  cursor: pointer;
}

.remove {
  font-size: 0.7rem;
  opacity: 0;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(4, 170, 109);
  color: white;
  width: 25px;
  height: 25px;
  transition: 0.5s;
  border-style: none;
  border: none;
  z-index: 1;
}

.card-extra:hover {
  box-shadow: 0 0 50px #ccc;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.card:hover .remove {
  opacity: 1;
}

.remove:hover {
  background-color: #dc3545;
}

/* ------------ LEFT SIDEBAR ------------ */

.user-info {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 35px;
}

.name {
  font-size: 1.7vw;
  font-weight: bold;
}

.left-section {
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: grid;
  place-items: center;
  width: 30%;
  height: 850px;
  /* border: 1px dashed #d3d3d3; */
  background: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-top: 5rem;
  /* padding: 75px; */
}

.subtext {
  font-size: 0.9vw;
}

.left-item-title {
  font-size: 1.7vw;
  font-weight: bold;
}

.logout-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 100px #ccc;
}

.logout-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
  border: none;
  width: 80%;
  height: 150px;
  background: rgb(4, 170, 109);
  border-radius: 30px;
  color: white;
  letter-spacing: 0.3em;
  transition: 0.5s ease;
  font-weight: bold;
}

.left-item {
  width: 100%;
  margin-bottom: 20%;
}

li {
  list-style-type: none;
}

.account-details li {
  display: flex;
  align-items: center;
}

.ebs-track li {
  display: flex;
  align-items: center;
}

li i {
  flex-basis: 6%;
}

/* ------------ LEFT SIDEBAR ------------ */

/* ------------ MODAL ------------ */

.modal-button {
  background-color: rgb(4, 170, 109);
  border-radius: 5px;
  border-style: none;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 1rem;
}

.container-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-placeholder {
  position: relative;
  border: 2px solid #d3d3d3;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 15px;
}
.img-placeholder:hover {
  cursor: pointer;
}

.img-placeholder img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.click-to-upload {
  display: none;
}

.modal-input {
  margin: auto;
  width: 90%;
  margin-bottom: 25px;
  color: black;
  border: 1px solid rgb(4, 170, 109);
  padding: 12px 20px;
  outline: none;
  transition: 0.2s ease-in-out;
  font-size: 1rem;
  border-radius: 5px;
}
.modal-input:focus {
  outline: 1px solid rgb(4, 170, 109);
  box-shadow: 0 0 10px rgb(4, 170, 109);
}

.modal-textarea {
  margin: auto;
  font-size: 1rem;
  color: black;
  padding: 12px 20px;
  border: 1px solid rgb(4, 170, 109);
  border-radius: 5px;
  width: 90%;
  transition: 0.2s ease-in-out;
}

.modal-textarea:focus {
  outline: 1px solid rgb(4, 170, 109);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(4, 170, 109);
}

.modal-footer {
  margin: auto;
}

/* ------------ MODAL ------------ */

/* ------------ ANIMATION ------------ */

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* ------------ ANIMATION ------------ */

/* ------------ MEDIA SCREEN ------------ */

@media only screen and (min-device-width: 450px) and (max-device-width: 768px) {
  .container-fluid {
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  /* -----LOG-OUT BUTTON -----*/
  .logout-official {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.2rem 4rem 0 0;
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .ebs-track {
    margin-bottom: 50%;
  }

  .left-item-container {
    transform: translateY(-10%);
  }

  .title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 6vw;
  }
  .parent-of-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .section {
    width: 85vw;
  }
  .left-section {
    padding: 0;

    margin-top: 23%;
    border-radius: 40px;
    margin-bottom: 15%;
    height: 80vh;
  }

  .logout-btn {
    width: 60vw;
    height: 12vh;
  }

  .left-section {
    padding: 0;
    display: grid;
    place-content: center;
  }

  /*-------- TEXTS HERE --------*/
  .left-item-title {
    font-size: 4vw;
  }
  .name {
    font-size: 6vw;
  }

  .subtext {
    font-size: 2.5vw;
  }

  .remove {
    font-size: 0.6rem;
  }

  .logout-btn {
    font-size: 3.5vw;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li i {
    flex-basis: 5%;
  }

  .left-item {
    margin-bottom: 10%;
  }

  .left-item-container {
    width: 100%;
  }
  /*---------------- CARDS SECTION -------------*/
  .right-section {
    height: 50%;
  }

  .card-extra {
    display: none;
  }
  .cards {
    padding: 36px;
  }
  .container-cards {
  }
  .cards {
  }

  .card {
    width: 150px;
    height: 150px;
    border-radius: 20px;
  }
  /*-------- TEXTS HERE --------*/

  .click-to-upload {
    display: block;
  }
}

@media only screen and (max-device-width: 450px) {
  .click-to-upload {
    display: block;
  }

  .logout-official {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.2rem 3rem 0 0;
    border-radius: 10px;
    width: 1.7rem;
    height: 1.7rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .container-fluid {
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  .title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 7vw;
  }
  .parent-of-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .section {
    width: 85vw;
  }
  .left-section {
    display: grid;
    place-content: center;
    padding: 0;
    border-radius: 40px;
    margin-bottom: 15%;
    height: 90vh;
    margin-top: 30%;
  }

  .logout-btn {
    width: 60vw;
    height: 12vh;
  }

  /*-------- TEXTS HERE --------*/
  .left-item-title {
    font-size: 4vw;
  }
  .name {
    font-size: 6vw;
  }

  .subtext {
    font-size: 3.5vw;
  }

  .remove {
    font-size: 0.6rem;
  }

  .logout-btn {
    font-size: 3.5vw;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li i {
    flex-basis: 5%;
  }

  .left-item-container {
    width: 100%;
    transform: translateY(-20%);
  }

  .account-details {
    margin-bottom: 10%;
  }
  /*--------------CARDS-------------*/

  .right-section {
    height: 50%;
  }
  .card-extra {
    display: none;
  }
  .cards {
    padding: 36px;
  }
  .container-cards {
  }
  .cards {
  }

  .card {
    width: 110px;
    height: 110px;
    border-radius: 20px;
  }
  .user-info {
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  .ebs-track {
    margin: 0;
  }
  .account-details {
    margin-top: 20%;
  }
}
