@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Poppins:wght@400;500;700;800&display=swap");
:root {
  --citcs: #800000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* colors */
.hamburger,
.title,
li,
.brand-name,
table {
  color: var(--citcs) !important;
}
/* colors */

.container {
  position: relative;
  width: 100%;

  height: calc(100% - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .title {
  position: absolute;
  top: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.navbar {
  position: relative;
  height: 75px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 1;
}

.navbar .brand-name {
  margin: 0 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 2rem;
}

.navbar .menu {
  display: none;
  position: absolute;
  right: 5rem;
  top: 1.5rem;
}

.navbar .hamburger {
  font-size: 2rem;
  color: black;
}

.navbar-links li {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.2rem;
}
.navbar-links li:hover :not(.feedbacks) {
  border-bottom: 2px solid var(--citcs);
}

.feedbacks {
  border-bottom: 2px solid var(--citcs);
  font-weight: 600;
}

.navbar-links a {
  text-decoration: none;
  color: var(--citcs);
  padding: 1rem;
}

/* TABLE */

table {
  position: absolute;
  top: 9rem;
  border-collapse: collapse;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  text-align: left;
  width: 80%;
  overflow: auto;
}

table thead {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

table thead th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

table tbody td {
  padding: 1rem 2rem;
}

table tbody tr:nth-child(even) {
  background-color: #f1f3f4;
}

@media screen and (max-width: 768px) {
  /* --- table --- */

  table thead {
    display: none;
  }

  table tr,
  table td {
    display: block;
  }

  table tr:not(:last-child) {
    border-bottom: 2px solid black;
  }

  table td {
    padding-left: 54% !important;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
  }

  table td::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45%;
    content: attr(data-col-title);
    font-weight: bold;
    border-right: 1px solid #c4c4c4;
  }

  /* --- table --- */

  .navbar {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    background-color: white;

    padding-top: 1rem !important;
  }

  .navbar .menu {
    display: block;
  }

  .navbar-links {
    display: none;
    width: 100%;
    margin: 0;
    background-color: white;
  }

  .navbar-links.activee {
    display: block;
    width: 100%;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .navbar-links li {
    padding: 1rem;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #c4c4c4;
  }
  .navbar-links li:hover {
    background-color: #c4c4c4;
  }
  .navbar-links a {
    text-decoration: none;
    color: var(--citcs);
  }
}

@media screen and (max-width: 414px) and (min-width: 375px) {
  /* --- table --- */

  table thead {
    display: none;
  }

  table tbody tr:nth-child(even) {
    background-color: transparent;
  }

  table td:nth-child(even) {
    background-color: #f1f3f4;
  }

  table tr,
  table td {
    display: block;
  }

  table tr:not(:last-child) {
    border-bottom: 2px solid black;
  }

  table td {
    padding-left: 54% !important;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
    overflow-wrap: break-word;
  }

  table td::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45%;
    content: attr(data-col-title);
    font-weight: bold;
    border-right: 1px solid #c4c4c4;
  }

  /* --- table --- */

  .navbar .menu {
    right: 2rem;
  }

  .navbar-links {
    background-color: white;
  }
}
