@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Poppins:wght@400;700;800&display=swap");
:root {
  --citcs: #cc2a49;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: hidden;
  overflow-x: hidden;
}

.section {
  width: 100%;
  height: 100%;
}

.left-section {
  position: relative;
  text-align: left;
}

.details-section {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  /* outline: 1px solid black; */
}
/* .add {
  transition: opacity 0.7s ease-in-out;
} */

.details {
  position: absolute;
  padding: 5rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.details .title {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--citcs);
}

.details p {
  font-size: 1.2rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding-left: 3rem;

  /* outline: 1px solid black; */
}

ul li {
  display: inline-block;
  margin: 2rem;
  font-size: 1.2rem;
}

/* ul li {
  display: inline-block;
  margin: 2rem;
  cursor: pointer;
  list-style-type: none;
  font-size: 1.2rem;
} */

.user {
  font-size: 1.2rem;
  margin: 2rem;
  cursor: pointer;
}

.icons {
  position: absolute;
  margin: 2rem;
  margin-left: 4rem;
  bottom: 0;
  display: flex;
}

.icon {
  margin-right: 2rem;
}

.icons img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none !important;
  color: black !important;
}
.right-section {
  /* outline: 1px dashed black; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider {
  width: 700px;
  height: 400px;
  /* outline: 1px solid black; */
}

.slider img {
  margin-bottom: 6rem;
  width: 100%;
  height: 100%;
  box-shadow: -1px 2px 21px -5px rgba(0, 0, 0, 0.82);
  cursor: pointer;
}

.right-section img {
}

.controls {
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /* outline: 1px solid black; */
  text-align: center;
}

.slide-number {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
  margin: 0;
}

.slide-number:first-child {
}

.active {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0;
  transform: translateX(50%);
  right: 50%;
  z-index: -1;
  background-color: rgb(219, 217, 213);
  /* transform: translateY(2rem); */
  /* transform: translate(50%, 32px); */
}

/* .controls p:nth-child(3) {
  background-color: rgb(240, 236, 236);
} */

.controls button {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.slides p {
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
}

/* .slides p {
  display: grid;
  place-content: center;
} */
button:hover {
  background-color: rgb(240, 236, 236);
}

.slides-number {
  margin-bottom: 15px;
}

/* MY MODAL */
/* 
.my-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 200ms ease-in-out;
  border: 1px solid black;
  padding: 1rem;
  width: 800px;
  max-width: 80%;
  z-index: 1;
  background-color: white;
}
.my-modal.activee {
  transform: translate(-50%, -50%) scale(1);
}

.my-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.my-modal-body {
}

.close-modal {
  background: none;
  border-style: none;
  font-size: 1.5rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  backdrop-filter: blur(0px);
  pointer-events: none;
}

#overlay.activee {
  opacity: 1;
  backdrop-filter: blur(5px);
  pointer-events: all;
} */

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

.my-modal {
  pointer-events: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 200ms ease-in-out;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  width: 800px;
  max-width: 80%;
}
.my-modal.activee {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.close-modal {
  font-size: 1.5rem;
  background: none;
  border-style: none;
  cursor: pointer;
}

.close-modal:hover {
  background: none;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(0px);
  pointer-events: none;
}
#overlay.activee {
  pointer-events: auto;
  backdrop-filter: blur(5px);
}

.modal-container {
  border: 1px solid black;
}

/* pop-up modal */

.pop-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 200ms ease-in-out;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
  padding: 1rem;
  width: 900px;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60%;
  max-height: 80%;
  border-radius: 30px;
}

.pop-modal.activee {
  transform: translate(-50%, -50%) scale(1);
}

.pop-modal-title {
  font-weight: bold;
}

.section-modal {
}

.right-modal {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email {
  padding: 0.5rem 1rem;
}

.email:focus::placeholder {
  color: transparent;
}

.email::placeholder {
  color: #222;
  transition: color 0.3s ease;
}

/* .email::placeholder {
  color: #222;
  transition: color 0.3s ease;
} */

.second-container {
  background-image: linear-gradient(to bottom, #791325, var(--citcs));
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.comment-section-container {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  margin-top: -10rem;
  border: 1px solid #e2d1d1;
  width: 62rem;
}
.comment-section-container h2 {
  padding-top: 5rem;
}
.comment-header {
  display: flex;
  justify-content: center;
}

.comment-section {
  padding: 5rem;
  width: 100%;
}

.show-comments {
  display: grid;
  grid-template-columns: 25fr 1fr;
  grid-gap: 0;
}

#user-comments {
  width: 90%;
}

.show-comments form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-comments .delete-comment {
  border-style: none;
  font-size: 1.5rem;
  background: none;
  color: black;
  width: 2rem;
}

.show-comments .update-comment {
  border-style: none;
  font-size: 1rem;
  margin-left: 1rem;
  background: none;
  color: black;
  width: 2rem;
}

.show-comments form > textarea {
  margin-bottom: 0.5rem;
}

.comment-section textarea {
  width: 100%;
  padding: 0.5rem 1rem;
}
.comment-section .comment {
  padding: 0.9rem;
  border-style: none;
  background-color: var(--citcs);
  color: whitesmoke;
}

.comment-section .messages textarea {
  margin: 0;
}
/* .comment-section .messages {
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
} */

.fa {
  color: var(--citcs);
}

/* #cc2a49
#791325 */
