@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Poppins:wght@400;500;700;800&display=swap");
:root {
  --citcs: #800000;
}

*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

.subtext {
  text-align: center;
}

body {
  overflow-x: hidden;
}

.button-control {
  display: none;
}

.replyField {
  display: none;
}

.hide {
  display: block;
  height: 500px;
  width: 500px;
}

.mobile-nav {
  display: none;
}
.container-fluid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 2;
}

.left-section {
  position: relative;
  text-align: left;
}

.details-section {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  /* outline: 1px solid var(--citcs); */
}
/* .add {
  transition: opacity 0.7s ease-in-out;
} */

.details {
  position: absolute;
  padding: 5rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.details .title {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--citcs);
}

.details p {
  font-size: 1.2rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding-left: 3rem;
  z-index: 2;
}

ul li {
  display: inline-block;
  margin: 2rem;
  font-size: 1.2rem;
}

.user {
  font-size: 1.2rem;
  margin: 2rem;
  cursor: pointer;
}

.icons {
  position: absolute;
  margin-left: 4rem;
  bottom: 3rem;
  display: flex;

  width: 270px;
  height: 50px;
}

.icon {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  /* outline: 1px solid black; */
}

.icon:not(:last-child) {
  display: grid;
  place-content: center;
}

.icons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none !important;
  color: var(--citcs) !important;
}
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .slider {
  width: 700px;
  height: 400px;

} */

.slider {
  /* display: flex; */
  width: 700px;
  height: 400px;
}

.slider img {
  margin-bottom: 6rem;
  width: 100%;
  height: 100%;
  box-shadow: -1px 2px 21px -5px rgba(0, 0, 0, 0.82);
  cursor: pointer;
}

.controls {
  margin: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-5rem);
  /* outline: 1px solid var(--citcs); */
  text-align: center;
}

.slide-number {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
  margin: 0;
}

.active {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0;
  transform: translateX(50%);
  right: 50%;
  z-index: -1;
  background-color: rgb(219, 217, 213);
  /* transform: translateY(2rem); */
  /* transform: translate(50%, 32px); */
}

/* .controls p:nth-child(3) {
  background-color: rgb(240, 236, 236);
} */

.controls button {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.slides p {
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
}

/* .slides p {
  display: grid;
  place-content: center;
} */
button:hover {
  background-color: rgb(240, 236, 236);
}

.slides-number {
  margin-bottom: 15px;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  pointer-events: none;
}

.my-modal {
  pointer-events: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 200ms ease-in-out;
  background-color: white;
  /* border: 1px solid var(--citcs); */
  padding: 1rem;
  width: 800px;
  max-width: 80%;
  max-height: 90%;
  overflow-y: scroll;
}
.my-modal.activee {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid var(--citcs); */
  margin-bottom: 1rem;
}

.close-modal {
  font-size: 1.5rem;
  background: none;
  border-style: none;
  cursor: pointer;
}

.close-modal:hover {
  background: none;
}

#overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(0px);
  pointer-events: none;
}
#overlay.activee {
  pointer-events: auto;
  /* backdrop-filter: blur(5px); */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
}

.pop-modal.activee {
  transform: translate(-50%, -50%) scale(1);
}

.pop-modal-title {
  font-weight: bold;
}

.left-modal {
  /* outline: 1px solid var(--citcs); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subhead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

.pop-modal-subtext {
  font-weight: 500;
}
#submit-modal {
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
  border-style: none;
  color: var(--citcs);
  font-weight: 700;
  background-color: white !important;
  outline-offset: -2px;
  outline: 2px solid var(--citcs);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

#submit-modal:hover {
  background-color: var(--citcs) !important;

  color: white;
}

.email {
  width: 15rem;
  text-align: center;
  margin: auto;
  padding: 0.5rem 1rem;
  outline: none;
  border-style: none;
  border-bottom: 1px solid var(--citcs);
}

.email:focus::placeholder {
  color: transparent;
}

.email::placeholder {
  color: #c4c4c4;
  text-align: center;
  transition: color 0.3s ease;
}

.pop-modal {
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 200ms ease-in-out;
  background-color: white;

  z-index: 3;
  width: 900px;
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60%;
  max-height: 80%;
  border-radius: 30px;
}

.right-modal {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url(images/274874192_4768080759967405_504605726798473152_n.jpg);
  background-position: center;
  background-size: cover;
  -webkit-mask-image: url(images/BLOB\ 2-01.png);
  mask-image: url(images/BLOB\ 2-01.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 120%;
  mask-size: 120%;
  -webkit-mask-position: left;
  mask-position: left;
  width: 100%;
}

.babae-sa-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.close-popup-modal {
  z-index: 2;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 1.9rem;
  font-weight: 500;
  background: none;
  border-style: none;
  border: 5px solid white;
  padding: 0 8px;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.close-popup-modal:hover {
  background-color: white;
  color: var(--citcs);
}

/* CONTACT FORM */
.contact-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease;
  z-index: 3;
  width: 900px;
  max-width: 90%;
  height: 500px;
  background-color: white;
  border: 1px solid #c4c4c4;
  padding: 2rem;
}
.contact-form.activee {
  transform: translate(-50%, -50%) scale(1);
}
.contact-form .body {
  height: 100%;
}
.contact-form .body button {
  padding: 1rem;
  width: 10rem;
  margin-top: 1rem;
  border-style: none;
  border: 2px solid var(--citcs);
  background-color: white;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
}
.contact-form .body button:hover {
  background-color: var(--citcs);
  color: white;
}
.contact-form .body form {
  width: 100%;
  height: 100%;
}
.contact-form .body .form-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form .body input,
textarea {
  width: 50%;
  padding: 0.9rem;
  background-color: #ecdede;
  border: none;
  border-radius: 5px;
  outline: none;
}
.contact-form .body input {
  margin: 1rem;
}

.contact-form .body input:focus::placeholder {
  color: transparent;
}
.contact-form .body input::placeholder {
  transition: color 0.3s ease;
  color: #c4c4c4;
}
.contact-form .body textarea {
  margin: 1rem;
}
.contact-form .body textarea::placeholder {
  transition: color 0.3s ease;
  color: #c4c4c4;
}
.contact-form .body textarea:focus::placeholder {
  color: transparent;
}

.contact-form .header {
  /* outline: 1px dashed #928989; */
}
.close-form {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 2rem;
  cursor: pointer;
}

.contact-form .title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
  .icons {
    bottom: 35%;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .right-modal {
    display: none;
  }

  .pop-modal {
    display: relative;
    grid-template-columns: 1fr;
  }

  .close-popup-modal {
    position: absolute;
    right: 2rem;
    color: var(--citcs);
  }

  body {
    overflow-x: hidden;
  }

  .right-nav {
    height: 50px;
  }

  .controls {
    display: none;
  }

  .icons {
    display: none;
  }

  .left-section {
    display: none;
  }

  .slider > * {
    flex-basis: 50px;
  }

  .details-section {
    transform: translateY(0);
  }

  .right-section {
    transform: translateY(0);
    position: relative;
    overflow-x: hidden;
  }

  .mobile-nav {
    /* outline: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
  }

  .mobile-nav p {
    transform: translate(-200%, 5%);
  }

  .button-control {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    z-index: 2;
    display: block;
    position: absolute;
    font-size: 1.5rem;
    color: white;
    border-style: none;
    cursor: pointer;
  }

  .button-control:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .next {
    right: 4rem;
  }

  .prev {
    left: 5rem;
  }

  .slider {
    position: relative;
    width: 500px;
    height: 400px;
    display: flex;
  }

  .slider img {
    width: 100%;
    height: 100%;
    margin: 0.6rem;
  }

  .second-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 414px) {
  .mobile-nav p,
  .mobile-nav li {
    font-size: 0.9rem;
  }

  .mobile-nav li {
    margin-left: 0;
    margin-right: 2rem;
  }
  .slider {
    height: 300px;
  }

  .slider img {
    height: 100%;
  }
  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }

  .comment-section-container {
    padding: 5rem 2rem;
  }

  .right-section {
    transform: translateY(0);
  }
  .details {
    transform: translateY(0);
  }

  .update-comment {
    top: 5rem;
    right: -1.5rem;
  }

  .save-changes-comment {
    top: 5rem;
    right: -1.5rem;
  }
}

@media screen and (max-width: 390px) {
  .mobile-nav p,
  .mobile-nav li {
    font-size: 0.9rem;
  }

  .mobile-nav li {
    margin-left: 0;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .comment-section-container {
    margin-top: -3rem;
  }
}
